<form action="/requests/{{request._id}}?_method=PATCH" class="container card px-0">

    <div class="card-header d-flex justify-content-around">
        <h4>{{request.asker.name}}</h4>
        <h4>{{request.subject}}</h4>
        <h4 class="date">{{request.date_requested}}</h4>
    </div>

    <div class="card-body">
        <textarea name="cr_response" id="code">{{request.cr_request}}</textarea>
    </div>

    <div class="card-footer">
        <button id="send-feedback-btn" class="btn btn-success disabled">Send Feedback</button>
    </div>
</form>

<input type="hidden" id="language-mode" value="{{request.language}}">

<script>

    const editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        lineNumbers: true,
        mode: `text/${$('#language-mode').val()}`,
        matchBrackets: true
    });

    editor.on("change", function () {
        $('#send-feedback-btn').removeClass("disabled");
    })


</script>