<input type="hidden" id="language-mode" value="{{request.language}}">
<input type="hidden" id="code-readonly" value="{{#ifEquals request.status "Reviewed"}}true{{else}}false{{/ifEquals}}">

<textarea id="request-code" class="d-none">{{request.cr_request}}</textarea>
<textarea id="response-code" class="d-none">{{request.cr_response}}</textarea>


<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Requests</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                {{#ifEquals request.asker._id @root/authenticatedUser._id}}
                Your Code{{else}}{{../request.asker.name}}'s Code
                {{/ifEquals}}
            </li>
        </ol>
    </nav>

    <form action="/requests/{{request._id}}?_method=PATCH" method="POST" class="card px-0">

        <div class="card-header d-flex justify-content-around">
            <h4>
                {{#ifEquals request.asker._id @root/authenticatedUser._id}}
                To: {{../request.answerer.name}}{{else}}From: {{../request.asker.name}}
                {{/ifEquals}}
            </h4>
            <h4>{{request.subject}}</h4>
            <h4 class="date">{{request.date_requested}}</h4>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-5">
                    <p>
                        {{#ifEquals request.asker._id @root/authenticatedUser._id}}
                        You: {{else}} {{../request.asker.name}}:
                        {{/ifEquals}}
                        (Updated <span class="date">{{request.date_request_updated}}</span>)
                    </p>
                </div>
                <div class="col-1"></div>
                <div class="col-6">
                    <p>
                        {{#ifEquals request.answerer._id @root/authenticatedUser._id}}
                        You: {{else}}{{../request.answerer.name}}:
                        {{/ifEquals}}
                        {{#ifEquals request.status "Reviewed"}}
                        (Reviewed <span class="date">{{../request.date_responded}}</span>)
                        {{else}}{{#ifEquals ../request.status "Opened"}}
                        (Opened <span class="date">{{../request.date_opened}}</span>)
                        {{else}}
                        ({{../request.status}}){{/ifEquals}}
                        {{/ifEquals}}
                    </p>
                </div>
            </div>
            {{#ifEquals request.status "Reviewed"}}
            <div id="code-differences">
                <script>
                    const codeView = CodeMirror.MergeView(document.getElementById('code-differences'), {
                        value: $('#request-code').text(),
                        origLeft: $('#response-code').text() != '' ? $('#response-code').text() : $('#request-code').text(),
                        origRight: null,
                        mode: $('#language-mode').val(),
                        highlightDifferences: true,
                        connect: 'align',
                        collapseIdentical: false,
                        showDifferences: true,
                        theme: 'material'
                    });
                </script>
            </div>
            {{else}}
            {{#ifEquals ../request.answerer._id @root/authenticatedUser._id}}
            <textarea name="cr_response" id="r-code">{{../request.cr_response}}</textarea>
            {{else}}
            <textarea name="cr_request" id="r-code">{{../request.cr_request}}</textarea>
            {{/ifEquals}}
            <script>
                const codeView = CodeMirror.fromTextArea(document.getElementById('r-code'), {
                    lineNumbers: true,
                    theme: 'material',
                    mode: $('#language-mode').val()
                });
            </script>
            {{/ifEquals}}

        </div>

        <div class="card-footer">
            {{#ifEquals request.status "Reviewed"}}
            <button class="btn btn-success" type="submit">Archive</button>
            {{else}}
            <button id="send-feedback-btn" type="submit" disabled="true" class="btn btn-success disabled">
                {{#ifEquals ../request.asker._id @root/authenticatedUser._id}}
                Edit{{else}}Send Feedback
                {{/ifEquals}}
            </button>
            {{/ifEquals}}
        </div>
    </form>

</div>

<script>

    $(document).ready(function () {

        codeView.setSize("100%", "600");

        codeView.on("change", (obj) => {
            if ($('#send-feedback-btn').prop('disabled') == true) {
                $('#send-feedback-btn').attr('disabled', false).removeClass('disabled');
            } else {
                $('#r-code').text(codeView.getValue());
            }
        });
    });

</script>